@page
@model PasswordManager.Web.Pages.ItemModel
@{

    ViewData["Title"] = Model.AccountDataModel?.Name ?? "New Item";
}

<form method="post" enctype="multipart/form-data">
    <input
    asp-for="AccountDataModel.Id"
    value="@(Model.AccountDataModel.Id)"
    type="hidden" />

    <input
    asp-for="AccountDataModel.Name"
    value="@(Model.AccountDataModel.Name ?? "")"
    placeholder="Name"
    type="text"
    class="input-form" />
    <br /><br />

    <input
    asp-for="AccountDataModel.Login"
    value="@(Model.AccountDataModel.Login ?? "")"
    placeholder="Login"
    type="text"
    class="input-form" />
    <br /><br />

    <input
    id="password-box"
    asp-for="AccountDataModel.Password"
    value="@(Model.AccountDataModel.Password ?? "")"
    placeholder="Password"
    class="input-form"
    type="password" />
    <input type="checkbox" onclick="showPassword('password-box')" />
    <input type="button" value="Verify" onclick="verifyPassword('password-box')" />

    <br/><br/>
    <input type="submit" value="@(Model.AccountDataModel.Id == -1 ? "Add" : "Update")" />
</form><br/><br/>

@await Html.PartialAsync("Shared/_PasswordGenerator.cshtml")
